body {
    background-color: #ffe4c4;
    color: #371f0f;
}

#header {
    text-align: center;
}

.block-container {
    margin: 5% 0 0 0;
    text-align: center;
}

.block {
    width: 20%;
    display: inline-block;

    border: 2px solid black;
    border-radius: 5px;
}

.contents {
    text-align: left;
    padding: 5%;
    /* margin: 0 20% 0 20%; */
}
